.Bio {
  margin-top: 63px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  height: 155px;
}
.Bio__Avatar {
  position: relative;
  height: 155px;
  width: 155px;
  background: #3a3636;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Bio__Avatar__Circle {
  position: absolute !important;
  height: 155px !important;
  width: 155px !important;
}
.Bio__Avatar img {
  width: 134px;
  z-index: 1;
}
.Bio__Biography {
  margin-left: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  max-width: 500px;
}
.Bio__Biography__Title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
  color: #fbfbfb;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 72px;
  /* identical to box height, or 257% */

  letter-spacing: 1px;
  height: 72px;
  color: #fbfbfb;
}
.Bio__Biography__Description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.014em;
  color: #d6d6d6;
}
.Bio__Connect {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  margin-left: 85px;
}
.Bio__Connect__Title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
  color: #fbfbfb;
  height: 72px;
  display: flex;
  align-items: center;
}
.Bio__Connect__Icons {
  display: flex;
  align-items: flex-start;
}
.Bio__Connect__Icons a {
  margin-right: 17px;
  text-decoration: none;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Bio__Connect__Icons a:last-child {
  margin-right: 0px;
}
.Bio__Connect__Icons img {
  height: 100%;
}
.Bio__Title {
  display: none;
}
@media screen and (orientation: landscape)  and (max-device-width: 1140px) {
  .Bio__Biography {
    max-width: 250px;
  }
}
@media screen and (orientation: portrait) {
  .Bio__Title {
    display: block;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    margin-top: 38px;
    text-align: center;
    letter-spacing: 1px;
    max-width: 500px;
    background: linear-gradient(134.01deg, #3bf686 40.75%, #4ca9ff 90.52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .Bio {
    margin-top: 37px;
    flex-direction: column;
    height: 100%;
  }
  .Bio__Avatar {
    width: 120px;
    height: 120px;
  }
  .Bio__Avatar__Circle {
    width: 120px;
    height: 120px;
  }
  .Bio__Avatar img {
    width: 120px;
    height: 120px;
  }
  .Bio__Biography {
    margin-left: 0;
    align-items: center;
    margin-top: 22px;
    max-width: 500px;
  }
  .Bio__Biography__Title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;

    height: auto;
  }
  .Bio__Biography__Description {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.006em;
    margin-top: 12px;
  }
  .Bio__Connect {
    margin-left: 0;
    margin-top: 35px;
  }
  .Bio__Connect__Title {
    display: none;
  }
  .Bio__Connect__Icons {
  }
  .Bio__Connect__Icons a {
  }
  .Bio__Connect__Icons a:last-child {
  }
  .Bio__Connect__Icons img {
    height: 100%x;
  }
}
