.Card{
    width: 262px;
    height: 190px;
    background: #323443;
    border-radius: 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.Card__Images{
    position: absolute;
    top: -36px;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Card__Images__Circle{
    position: absolute;
}
.Card__Images__Other{
    position: absolute;
}
.Card__Title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin-top: 58px;
    color: #FAFAF9;
}
.Card__Description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 12px;
    color: rgba(239, 237, 232, 0.65);
    max-width: 225px;
    line-height: 22px;
}
@media screen and (orientation: portrait) {
    .Card{
        flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 12px;
    height: 229px;
    width: 100%;
    text-align: left;

    }
    .Card__Images{
        width: 46px;
height: 46px;
top: -23px;
padding: 13px;
    }
    .Card__Images__Circle{
        width: 46px;
height: 46px;
    }
    .Card__Images__Other{
        width: 18px;
        height: 18px;
    }
    .Card__Title{
        font-size: 14px;
        letter-spacing: 0.5px;
        letter-spacing: 0.5px;
        margin-top: 37px;
        text-align: center;
        justify-content: center;
        width: 90%;
        min-height: 36px;
    }
    .Card__Description{
        width: 90%;
        text-align: left;
        font-size: 12px;
        text-align: left;
        letter-spacing: 0.3px;
        line-height: 20px;
        margin-top: 15px;
    }
}