.Home__Title {
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  letter-spacing: 1px;
  background: linear-gradient(134.01deg, #3bf686 40.75%, #4ca9ff 90.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 94px;
}
.Home{
    padding-bottom: 150px;
}