.SevenWinds__Pictures__Preview{
    width: 100%;
}
.SevenWinds{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.SevenWinds__About{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
}
.SevenWinds__About__Exercise{
    color: rgb(55, 53, 47);
    font-weight: 700;
    line-height: 1.2;
    font-size: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.SevenWinds__About__Exercise__Text{
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(55, 53, 47);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.SevenWinds__About__Summary{
    color: rgb(55, 53, 47);
    font-weight: 700;
    line-height: 1.2;
    font-size: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.SevenWinds__About__Summary__Text{
    white-space: pre-wrap;
    word-break: break-word;
    caret-color: rgb(55, 53, 47);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align:start;
}
.SevenWinds__Pictures{
    width: 50%;
}