.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: #272727;
  position: relative;
}
.App__Actual {
  max-width: 1140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.BlueDark {
  color: #4ca9ff;
  display: inline;
}
.Blue {
  color: #62D9FF;
  display: inline;
}
.Green {
  color: #80FFA3;
  display: inline;
}
.GreenBlue {
  color: #D6D6D6;
  display: inline;
}
@media screen and (orientation: portrait) {
  .App__Actual {
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    justify-content: center;
  }
}
